@model Tsk

@if (Model is null)
{
    <p>Выберите задачу для отображения</p>
}

else
{
    <p>Имя: @Model.Name</p>
    <p>Статус: @Model.Status</p>
    <p>Дата создания: @Model.CreateDate.ToShortDateString()</p>
    <p>Описание : @Model.Description</p>

    <form asp-action="ChangeStatus" method="post">
        <input type="hidden" name="task_id" value="@Model.Id" />

        <div class="d-inline">
            <select style="width: 200px;" class="form-control d-inline" name="status">
                @foreach (var st in (Statuses[])Enum.GetValues(typeof(Statuses)))
                {
                    <option selected=@(Model.Status  == st) value="@st" )>
                        @st
                    </option>
                }
            </select>
        </div>
        <div class="my-2">
            <button type="submit" class="btn btn-dark">Сохранить</button>
        </div>
    </form>


    <a asp-action="Create" asp-route-id="@Model.Id">Добавить подзадачу</a>

    @if (!Model.Children.Any())
    {
        <form asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit">Удалить данную задачу</button>
        </form>
    }

}

